<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50 p-4">
  @if (loading()) {
    <app-spinner/>
  }
  @if (error()) {
    <app-no-data-to-show/>
  }
  @if (dashboardData()) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 w-full max-w-5xl">
      <p-card header="Total Users" class="shadow-lg">
        <div class="text-3xl font-bold text-blue-600">{{ dashboardData()?.totalUsers ?? 0}}</div>
      </p-card>
      <p-card header="Exams Completed" class="shadow-lg">
        <div class="text-3xl font-bold text-green-600">{{ dashboardData()?.totalExamsCompleted ?? 0}}</div>
      </p-card>
      <p-card header="Passed Exams" class="shadow-lg">
        <div class="text-3xl font-bold text-emerald-600">{{ dashboardData()?.passedExamsCount ?? 0}}</div>
      </p-card>
      <p-card header="Failed Exams" class="shadow-lg">
        <div class="text-3xl font-bold text-red-600">{{ dashboardData()?.failedExamsCount ?? 0}}</div>
      </p-card>
    </div>
  }
</div>

