@if (showNavBar()) {
  <div class="w-full bg-white shadow flex items-center justify-between px-4 py-2">
    <div class="flex items-center gap-2">
      <span class="font-bold text-xl text-blue-700">Student Examination System</span>
    </div>
    <p-menubar [model]="navLinks"
               class="w-auto bg-transparent border-none shadow-none text-gray-700">
      <ng-template pTemplate="start">
        @if (user) {
          <button (click)="goToProfile()" class="ml-2 p-2 rounded-full hover:bg-blue-100 transition">
            <i class="pi pi-user text-xl"></i>
          </button>
          <p-overlaybadge [value]="notificationCount()" class="ml-2">
            <i class="pi pi-bell" style="font-size: 2rem"></i>
          </p-overlaybadge>
        }
      </ng-template>
    </p-menubar>
  </div>
}
<!--<p-menubar [model]="navLinks.map(link => link.label !== 'Logout' ? {label: link.label, icon: link.icon, command: () => router.navigate([link.route])} : {label: link.label, icon: link.icon, command: onLogout})"-->
